:root {
  /* ### Primary */

  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  /* ### Accent */

  --blue: hsl(248, 32%, 49%);
  /* ### Neutral */

  --darkBlue: hsl(249, 10%, 26%);
  --grayishBlue: hsl(246, 25%, 77%);
}
.back-red {
  border: 1px solid red;
  
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.card {
  width: 20.7rem;
  height: 57.4rem;
  background-color: var(--red);
  padding: 4.425rem 1.5rem 2rem 1.5rem;
  text-align: center;
  background-image: url(/images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  margin: auto;
}
/* ---HEADER--- */
header {
  margin-bottom: 3.75rem;
  width: 100%;
  margin-top: 1.6rem;
}
.card header h1 {
  font-size: 1.85rem;
  color: white;
  padding-bottom: 0.13rem;
}
.card header p {
  color: white;
  font-size: 18.61px;
  line-height: 1.65rem;
  font-weight: 400;
}

/* ---MAIN--- */
.card main .btn-blue {
  padding: 1.7rem;
  background-color: var(--blue);
  border-radius: 0.5rem;
  margin-bottom: 1.45rem;
  color: white;
  box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  padding: 1.2rem;
  line-height: 1.5rem;
}

.card main .btn-blue:hover {
  cursor: pointer;
}
.card main .btn-blue span {
  font-weight: 400;
}
main {
  position: relative;

}
form {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.1);
}

.err-img {
  display: block;
  position: relative;
  bottom: 30rem;
  padding-bottom: 4.5rem;
  left: 37rem;
}
.show {
   opacity: 1;
}
.hide {
  opacity: 0;
}

form p {
  font-size: 0.8rem;
  text-align: center;
}
form input {
  border-radius: 0.3rem;
  padding: 1.2rem;
  width: 82%;
  margin-bottom: 1rem;
  font-weight: 700;
  border: solid 0.1px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
}
form input:first-child {
  margin-top: 0.4rem;
}
form button {
  padding: 1.1rem;
  border-radius: 0.25rem;
  border: solid 0.1px rgba(0, 0, 0, 0.1);
  background-color: var(--green);
  color: white;
  font-size: 0.95rem;
  width: 95%;
  font-weight: 600;
}

main form button:hover {
  cursor: pointer;
  background-color: rgba(56, 204, 140, 0.725);;

}
form p {
  font-size: 0.735rem;
  text-align: center;
  line-height: 1.25rem;
  margin: 0.5rem 1.9rem 0.7rem 1.9rem;
  color: var(--grayishBlue);
}
form p span {
  color: var(--red);
  font-weight: 700;
}
form p span:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1700px) {
  body {
  }
  .card {
    
    background-image: url(/images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 116.5rem;
    height: 55.9rem;
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0; */
  }
  header {
    width: 45rem;
    margin: auto;
    text-align: start;
    padding: 13rem 0rem 0rem 4.5rem;
    margin: 5rem 0rem auto 10rem;
  }
  .card header p {
    font-size: 1.2957rem;
    width: 46rem;
  }
  .card header h1 {
    width: 40rem;
    padding: 0;
    font-size: 3.8rem;
    line-height: 4.5rem;
  }

  main {
    margin: auto;
    margin-top: 7.5rem;
    margin-right: 16rem;
  }

  main form {
    padding: 2rem 0rem 0rem 0rem;
    width: 43rem;
    height: 34.5rem;
  }
  main form button {
    width: 90.7%;
    padding: 1.625rem;
  }

  main form input {
    margin-bottom: 1.7rem;
    padding: 1.525rem 1.85rem 1.525rem 1.85rem;
  }
  .card main .btn-blue {
    padding: 1.6rem;
  }
  
  main form p {
    font-size: 0.9rem;
    margin-top: 1.2rem;
  }
}
